{
  "categories": [
    {
      "title": "Emotion",
      "showLinkToEmotion": true,
      "ideas": [
        {"idea": "Accepting"},
        {"idea": "Accepting"},
        {"idea": "Adventurous"},
        {"idea": "Affectionate"},
        {"idea": "Afraid"},
        {"idea": "Aggravated"},
        {"idea": "Agitated"},
        {"idea": "Aliveness"},
        {"idea": "Aloof"},
        {"idea": "Amazed"},
        {"idea": "Angry"},
        {"idea": "Anguish"},
        {"idea": "Annoyed"},
        {"idea": "Anxious"},
        {"idea": "Anxious"},
        {"idea": "Appreciative"},
        {"idea": "Apprehensive"},
        {"idea": "Apprehensive"},
        {"idea": "Ashamed"},
        {"idea": "Awe"},
        {"idea": "Bitter"},
        {"idea": "Blessed"},
        {"idea": "Bliss"},
        {"idea": "Bored"},
        {"idea": "Brave"},
        {"idea": "Burned out"},
        {"idea": "Calm"},
        {"idea": "Calm"},
        {"idea": "Capable"},
        {"idea": "Caring"},
        {"idea": "Caring"},
        {"idea": "Centered"},
        {"idea": "Compassion"},
        {"idea": "Concerned"},
        {"idea": "Confident"},
        {"idea": "Confused"},
        {"idea": "Connected"},
        {"idea": "Contempt"},
        {"idea": "Content"},
        {"idea": "Courageous"},
        {"idea": "Cranky"},
        {"idea": "Curious"},
        {"idea": "Cynical"},
        {"idea": "Daring"},
        {"idea": "Delighted"},
        {"idea": "Delighted"},
        {"idea": "Depleted"},
        {"idea": "Depressed"},
        {"idea": "Despair"},
        {"idea": "Despondent"},
        {"idea": "Determined"},
        {"idea": "Disappointed"},
        {"idea": "Disconnected"},
        {"idea": "Discouraged"},
        {"idea": "Disdain"},
        {"idea": "Disgruntled"},
        {"idea": "Dissatisfied"},
        {"idea": "Distant"},
        {"idea": "Disturbed"},
        {"idea": "Disturbed"},
        {"idea": "Doubt"},
        {"idea": "Eager"},
        {"idea": "Ecstatic"},
        {"idea": "Edgy"},
        {"idea": "Edgy"},
        {"idea": "Embarrassed"},
        {"idea": "Empathy"},
        {"idea": "Empty"},
        {"idea": "Enchanted"},
        {"idea": "Encouraged"},
        {"idea": "Energized"},
        {"idea": "Engaged"},
        {"idea": "Engaged"},
        {"idea": "Enthusiastic"},
        {"idea": "Exasperated"},
        {"idea": "Excited"},
        {"idea": "Exhausted"},
        {"idea": "Expectant"},
        {"idea": "Exploring"},
        {"idea": "Fascinated"},
        {"idea": "Fear"},
        {"idea": "Forlorn"},
        {"idea": "Fortunate"},
        {"idea": "Fragile"},
        {"idea": "Frazzled"},
        {"idea": "Free"},
        {"idea": "Free"},
        {"idea": "Frightened"},
        {"idea": "Frustrated"},
        {"idea": "Fulfilled"},
        {"idea": "Fulfilled"},
        {"idea": "Furious"},
        {"idea": "Gloomy"},
        {"idea": "Grace"},
        {"idea": "Grateful"},
        {"idea": "Grief"},
        {"idea": "Grouchy"},
        {"idea": "Grouchy"},
        {"idea": "Grounded"},
        {"idea": "Guilt"},
        {"idea": "Happy"},
        {"idea": "Heartbroken"},
        {"idea": "Helpless"},
        {"idea": "Hesitant"},
        {"idea": "Hesitant"},
        {"idea": "Hopeful"},
        {"idea": "Hopeless"},
        {"idea": "Hostile"},
        {"idea": "Humbled"},
        {"idea": "Humiliated"},
        {"idea": "Impatient"},
        {"idea": "Impotent"},
        {"idea": "Incapable"},
        {"idea": "Indifferent"},
        {"idea": "Inhibited"},
        {"idea": "Inhibited"},
        {"idea": "Inspired"},
        {"idea": "Interested"},
        {"idea": "Intrigued"},
        {"idea": "Invigorated"},
        {"idea": "Involved"},
        {"idea": "Irate"},
        {"idea": "Irritated"},
        {"idea": "Isolated"},
        {"idea": "Joy"},
        {"idea": "Lethargic"},
        {"idea": "Listless"},
        {"idea": "Lively"},
        {"idea": "Lonely"},
        {"idea": "Longing"},
        {"idea": "Loving"},
        {"idea": "Loving"},
        {"idea": "Lucky"},
        {"idea": "Melancholy"},
        {"idea": "Moody"},
        {"idea": "Mortified"},
        {"idea": "Moved"},
        {"idea": "Nervous"},
        {"idea": "Numb"},
        {"idea": "On edge"},
        {"idea": "Open"},
        {"idea": "Optimistic"},
        {"idea": "Outraged"},
        {"idea": "Overwhelm"},
        {"idea": "Panic"},
        {"idea": "Paralyzed"},
        {"idea": "Passionate"},
        {"idea": "Patient"},
        {"idea": "Peaceful"},
        {"idea": "Perplexed"},
        {"idea": "Pissed"},
        {"idea": "Playful"},
        {"idea": "Powerful"},
        {"idea": "Powerless"},
        {"idea": "Present"},
        {"idea": "Present"},
        {"idea": "Proud"},
        {"idea": "Questioning"},
        {"idea": "Radiant"},
        {"idea": "Rattled"},
        {"idea": "Reflective"},
        {"idea": "Refreshed"},
        {"idea": "Regret"},
        {"idea": "Rejecting"},
        {"idea": "Rejecting"},
        {"idea": "Rejuvenated"},
        {"idea": "Relaxed"},
        {"idea": "Reluctant"},
        {"idea": "Remorseful"},
        {"idea": "Removed"},
        {"idea": "Renewed"},
        {"idea": "Resentful"},
        {"idea": "Resigned"},
        {"idea": "Resistant"},
        {"idea": "Restless"},
        {"idea": "Sad"},
        {"idea": "Safe"},
        {"idea": "Satisfied"},
        {"idea": "Scared"},
        {"idea": "Self-conscious"},
        {"idea": "Self-loving"},
        {"idea": "Sensitive"},
        {"idea": "Serene"},
        {"idea": "Serene"},
        {"idea": "Shaken"},
        {"idea": "Shame"},
        {"idea": "Shocked"},
        {"idea": "Shut Down"},
        {"idea": "Skeptical"},
        {"idea": "Sorrow"},
        {"idea": "Sorry"},
        {"idea": "Stimulated"},
        {"idea": "Stressed"},
        {"idea": "Strong"},
        {"idea": "Suspicious"},
        {"idea": "Teary"},
        {"idea": "Tender"},
        {"idea": "Tense"},
        {"idea": "Terrified"},
        {"idea": "Thankful"},
        {"idea": "Thrilled"},
        {"idea": "Tight"},
        {"idea": "Touched"},
        {"idea": "Trapped"},
        {"idea": "Trusting"},
        {"idea": "Trusting"},
        {"idea": "Uneasy"},
        {"idea": "Ungrounded"},
        {"idea": "Unhappy"},
        {"idea": "Unsettled"},
        {"idea": "Unsure"},
        {"idea": "Upset"},
        {"idea": "Upset"},
        {"idea": "Useless"},
        {"idea": "Valiant"},
        {"idea": "Vibrant"},
        {"idea": "Victim"},
        {"idea": "Vindictive"},
        {"idea": "Vulnerable"},
        {"idea": "Warm"},
        {"idea": "Warm"},
        {"idea": "Weak"},
        {"idea": "Weary"},
        {"idea": "Weary"},
        {"idea": "Withdrawn"},
        {"idea": "Worn out"},
        {"idea": "Worried"},
        {"idea": "Worried"},
        {"idea": "Worthless"},
        {"idea": "Worthy"},
        {"idea": "Worthy"},
        {"idea": "Wounded"},
        {"idea": "Yearning"}
      ]
    },
    {
      "title": "Location",
      "ideas": [
        {"idea": "American Museum of Natural History"},
        {"idea": "Animal Kingdom"},
        {"idea": "Arena"},
        {"idea": "Chicken coop"},
        {"idea": "Crematorium"},
        {"idea": "Empty Kingergarden Classroom"},
        {"idea": "Farmhouse"},
        {"idea": "Flea market"},
        {"idea": "Forest"},
        {"idea": "Glacier"},
        {"idea": "Grand Caynon"},
        {"idea": "Hardware store"},
        {"idea": "Kitchen"},
        {"idea": "Moon"},
        {"idea": "Mortuary"},
        {"idea": "Oasis"},
        {"idea": "Observation tower"},
        {"idea": "On a Zeppelin"},
        {"idea": "Prison"},
        {"idea": "Public lbrary"},
        {"idea": "Zoo"}
      ]
    },
    {
      "title": "Occupation",
      "ideas": [
        {"idea": "Carpenter"},
        {"idea": "Doctor"},
        {"idea": "Landscape Architect"},
        {"idea": "Lawyer"},
        {"idea": "Librarian"},
        {"idea": "Gynecologist"},
        {"idea": "Pathologist"},
        {"idea": "Seamen"},
        {"idea": "Translator"},
        {"idea": "Utility Meter Reader"},
        {"idea": "Veterinarian"},
        {"idea": "Weather Observer"},
        {"idea": "Zoologist"}
      ]
    },
    {
      "title": "Relation",
      "ideas": [
        {"idea": "accountant / client"},
        {"idea": "actor / director"},
        {"idea": "actor / fan"},
        {"idea": "alien / scientist"},
        {"idea": "immune system / virus"},
        {"idea": "artist / critic"},
        {"idea": "artist / muse"},
        {"idea": "attorney / client"},
        {"idea": "author / editor"},
        {"idea": "author / interviewer"},
        {"idea": "baby / baby"},
        {"idea": "barista / customer"},
        {"idea": "barister / coffee snob"},
        {"idea": "bartender / barfly"},
        {"idea": "bartender / drunk"},
        {"idea": "bartender / patron"},
        {"idea": "bouncer / person with fake id"},
        {"idea": "bride / bridesmaid"},
        {"idea": "call center / customer"},
        {"idea": "cat / mouse"},
        {"idea": "cat / veterinarian"},
        {"idea": "celebrity / sycophant"},
        {"idea": "checkout person / customer"},
        {"idea": "child / babysitter"},
        {"idea": "city dweller / tourist"},
        {"idea": "coach / athlete"},
        {"idea": "comedian / heckler"},
        {"idea": "concierge / guest"},
        {"idea": "conductor / musician"},
        {"idea": "cop / criminal"},
        {"idea": "cop / person pulled over for traffic violation"},
        {"idea": "cruise director / passenger"},
        {"idea": "designer / model"},
        {"idea": "detective / femme fatale"},
        {"idea": "detective / suspect"},
        {"idea": "director / actor"},
        {"idea": "dmv employee / dmv client"},
        {"idea": "doctor / nurse"},
        {"idea": "doctor / patient"},
        {"idea": "dog / bone"},
        {"idea": "dog / flea"},
        {"idea": "driver / passenger"},
        {"idea": "drug-dealer / buye"},
        {"idea": "druglord / undercover cop"},
        {"idea": "drycleaner / client"},
        {"idea": "eacher / student"},
        {"idea": "environmentalist / oil executive"},
        {"idea": "evangelist / atheist"},
        {"idea": "farmer / cow"},
        {"idea": "flight attendant / passenger"},
        {"idea": "football player / referee"},
        {"idea": "forum moderator / forum poster"},
        {"idea": "game show host / contestant"},
        {"idea": "god / atheist"},
        {"idea": "god / devil"},
        {"idea": "golfer / caddy"},
        {"idea": "grandparent / grandchild"},
        {"idea": "guru / apprentice"},
        {"idea": "guru / seeker"},
        {"idea": "hairdresser / client"},
        {"idea": "hairdresser / customer"},
        {"idea": "hiring manager / applicant"},
        {"idea": "hitchhiker / driver"},
        {"idea": "hound dog / squirrel"},
        {"idea": "hr rep / bad employee"},
        {"idea": "hunter / deer"},
        {"idea": "irs auditor / taxpayer"},
        {"idea": "jailer / prisoner"},
        {"idea": "jock / geek"},
        {"idea": "jogger / dog"},
        {"idea": "landlord / tenant"},
        {"idea": "love triangle"},
        {"idea": "mad scientist / scientist's creature"},
        {"idea": "magician / assistant"},
        {"idea": "maid / boss"},
        {"idea": "manager / employee"},
        {"idea": "masseuse / client"},
        {"idea": "mechanic / car owner"},
        {"idea": "minister / parishioner"},
        {"idea": "model / agent"},
        {"idea": "monarch / jester"},
        {"idea": "morning person / late sleeper"},
        {"idea": "motorist / pedestrian"},
        {"idea": "nanny / kids"},
        {"idea": "nun / mother superior"},
        {"idea": "nurse / patient"},
        {"idea": "overnight guest / host"},
        {"idea": "paparazzi / celebrity"},
        {"idea": "parasite / host"},
        {"idea": "parent / child"},
        {"idea": "patient / therapist"},
        {"idea": "person / their conscience"},
        {"idea": "pet / owner"},
        {"idea": "plumber / client"},
        {"idea": "plumber / homeowner"},
        {"idea": "politician / intern"},
        {"idea": "politician / voter"},
        {"idea": "predator / prey"},
        {"idea": "priest / consitutant"},
        {"idea": "priest / demon"},
        {"idea": "princess /  fairy godmother"},
        {"idea": "psychiatrist / patient"},
        {"idea": "psychic / skeptic"},
        {"idea": "psychopath / victim"},
        {"idea": "ragon / knight"},
        {"idea": "rebel / dictator"},
        {"idea": "reporter / celebrity"},
        {"idea": "rockstar / manager"},
        {"idea": "roommate / roommate"},
        {"idea": "salesperson / shopper"},
        {"idea": "security detail / president of the united states"},
        {"idea": "security person / famous person"},
        {"idea": "server / diner"},
        {"idea": "siblings"},
        {"idea": "singer / pianist"},
        {"idea": "spouses"},
        {"idea": "spouse / spouce's other partner"},
        {"idea": "spy / spy"},
        {"idea": "stripper / customer"},
        {"idea": "superhero / sidekick"},
        {"idea": "superhero / villain"},
        {"idea": "tailor / customer"},
        {"idea": "tour guide / tourist"},
        {"idea": "tourist / native"},
        {"idea": "train conductor / commuter"},
        {"idea": "truant officer / parent / child"},
        {"idea": "tsa tgent / traveler"},
        {"idea": "uncle / nephew"},
        {"idea": "undertaker / client"},
        {"idea": "used car salesman / potential customer"},
        {"idea": "vegan / butcher"},
        {"idea": "ventriloquist / doll"},
        {"idea": "waiter / chef"},
        {"idea": "waiter / guest"},
        {"idea": "writer / editor"}
      ]
    },
    {
      "title": "Relationship Adjectives",
      "ideas": [
        {"idea": "Scared of"},
        {"idea": "In debt to"},
        {"idea": "In awe of"}
      ]
    },
    {
      "title": "Situation/Quirk",
      "ideas": [
        {"idea": "Playing a practical joke"},
        {"idea": "Having a Baby"},
        {"idea": "Someone tries to hide their \"invisible\" friend from the others"},
        {"idea": "Someone is convinced they are invisible (but are not really)"},
        {"idea": "Someone pretends their friend doesn't speak the native language (but they do)"},
        {"idea": "Someone replicates another figure in the scene with a delay of 5 seconds"},
        {"idea": "Someone thinks that all the other figures are constantly evaluating and judging him/her"}
      ]
    },
    {
      "title": "Genre",
      "ideas": [
        {"idea": "Absurdist"},
        {"idea": "Action"},
        {"idea": "Adventure"},
        {"idea": "Biographical"},
        {"idea": "Claymation"},
        {"idea": "Comedy"},
        {"idea": "Contemporary Fantasy"},
        {"idea": "Crime"},
        {"idea": "Cyberpunk"},
        {"idea": "Cyberpunk"},
        {"idea": "Dark Comedy"},
        {"idea": "Dark Fantasy"},
        {"idea": "Disaster (Action)"},
        {"idea": "Docudrama"},
        {"idea": "Empire Western"},
        {"idea": "Epic Western"},
        {"idea": "Espionage"},
        {"idea": "Fairy Tale"},
        {"idea": "Fantasy romance"},
        {
          "idea": "Fantasy",
          "explanation": "A person of typical social standing explores a world foreign to them."
        },
        {"idea": "Farce"},
        {"idea": "Heist"},
        {"idea": "Heroic Bloodshed (Action)"},
        {"idea": "High Fantasy"},
        {"idea": "Historical Epic"},
        {"idea": "Historical"},
        {"idea": "Horror"},
        {"idea": "Infomercial"},
        {"idea": "Legal Thriller"},
        {"idea": "Live-Action"},
        {"idea": "Marshal Western"},
        {"idea": "Medical Drama"},
        {"idea": "Military Action"},
        {"idea": "Military Fiction"},
        {"idea": "Mockumentary"},
        {"idea": "Musical"},
        {"idea": "Myth"},
        {"idea": "Noir"},
        {"idea": "Occult"},
        {"idea": "Outlaw Western"},
        {"idea": "Party Advertisement"},
        {"idea": "Powerpoint Presentation"},
        {"idea": "Procedural"},
        {"idea": "Puppetry"},
        {"idea": "Revenge Western"},
        {"idea": "Revisionist Western"},
        {"idea": "Romance"},
        {"idea": "Romantic Comedy"},
        {"idea": "Satire"},
        {"idea": "Science fiction"},
        {"idea": "Shenmo"},
        {"idea": "Sitcom "},
        {"idea": "Slasher"},
        {
          "idea": "Space Opera",
          "explanation": "A group of people on a ship performing a mission and encounters a world outside of their own experience."
        },
        {"idea": "Spaghetti Western"},
        {"idea": "Sports"},
        {"idea": "Spy Fiction"},
        {"idea": "Steampunk"},
        {"idea": "Stop Motion"},
        {"idea": "Superhero"},
        {"idea": "Surrealist"},
        {"idea": "Swashbuckler"},
        {"idea": "Sword & Sorcery"},
        {"idea": "Tech Noir"},
        {"idea": "Telenovela"},
        {"idea": "Televangelist"},
        {"idea": "Urban Fantasy"},
        {"idea": "Urban fantasy"},
        {"idea": "Weather Report"},
        {
          "idea": "Western",
          "explanation": "a community exists and cares for each other. An outsider comes in threatening the status quo. The community bands together."
        },
        {"idea": "Wuxia"}
      ]
    },
    {
      "title": "Actor",
      "ideas": [
        {"idea": "Tatiana Maslany"},
        {"idea": "Helena Bonham Carter"}
      ]
    },
    {
      "title": "Director",
      "ideas": [
        {"idea": "David Lynch"},
        {"idea": "Quentin Tarantino"},
        {"idea": "Stanley Kubrick"},
        {"idea": "Wes Anderson"},
        {"idea": "Alfred Hitchcock"},
        {"idea": "Christopher Nolan"}
      ]
    },
    {
      "title": "Playwright",
      "ideas": [
        {"idea": "Shakespeare"},
        {"idea": "Nowel Coward"},
        {"idea": "Diana Son"},
        {"idea": "Michael Frayn"},
        {"idea": "Anton Checkov"}
      ]
    },
    {
      "title": "Hard Conversation",
      "ideas": [
        {"idea": "Firing Someone"},
        {"idea": "Having Cancer"}
      ]
    },
    {
      "title": "Dialect / Accent",
      "ideas": [
        {"idea": "Standard English"},
        {"idea": "Yorkshire"},
        {"idea": "Cork"},
        {"idea": "North Irish"}
      ]
    },
    {
      "title": "Name",
      "ideas": [
        {"idea": "Sara"},
        {"idea": "Bob"},
      ]
    },
    {
      "title": "Ask For",
      "ideas": [
        {"idea": "Give me a dangerous activity, thing to say, etc."},
        {"idea": "Give me a Cable TV channel"},
        {"idea": "I'm holding a box about yay big. What's inside it?"},
        {"idea": "If you could invent a new human organ, what would it be?"},
        {"idea": "Something you do as a part of your daily routine"},
        {"idea": "A Hobby"}
      ]
    },
    {
      "title": "Occupation",
      "ideas": [
        {"idea": "Tailor"},
        {"idea": "Hairdressor"},
        {"idea": "Mortition"},
        {"idea": "Architect"}
      ]
    },
    {
        "title": "Tongue Twister"
        "ideas": [
          {"idea": "Peter Piper picked a peck of pickled peppers A peck of pickled peppers Peter Piper picked If Peter Piper picked a peck of pickled peppers Where’s the peck of pickled peppers Peter Piper picked?"},
          {"idea": "She sells seashells by the seashore, The seashells she sells, are seashells I’m sure."},
          {"idea": "How much wood would a woodchuck chuck if a woodchuck could chuck wood? He would chuck, he would, as much as he could, and chuck as much wood as a woodchuck would if a woodchuck could chuck wood."},
          {"idea": "Which wristwatch is a Swiss wristwatch? Which wristwatch is an Irish wristwatch?"},
        ]
    }
  ]
}

